$main-bg: #efefef;
$green: #66c05d;
$dark: #333333;
$black: #000000;
$white: #ffffff;

$h1: 48px;
$h2: 36px;
$h3: 24px;

$font-large: 16px;
$font-normal: 14px;
$fomt-small: 12px;

$page-large: 1110px;

$desktop: 1110px;
$mobile: 900px;
$mobile-420: 480px;
$bottom-point: 970px;
