@import './base/base-index.scss';
@import './mixins/mixins-index.scss';
@include font-face('Roboto', 'Roboto-Regular');
@include font-face('Roboto', 'Roboto-Bold', 700, 'bold');

A,
A:link,
A:visited,
A:hover,
A:active {
  text-decoration: none;
}

h1 {
  font-size: $h1;
  line-height: 1em;
}

h2 {
  font-size: $h2;
  line-height: 1em;
}

h3 {
  font-size: $h3;
  line-height: 1em;
}

body {
  background: $main-bg;
  color: $dark;
  font-family: 'Roboto';
  line-height: 1em;
  font-weight: 400;
  font-size: $font-normal;
}
@import './chunk/header/header-index.scss';
@import './chunk/banner/banner-index.scss';
@import './chunk/offers/offers-index.scss';
@import './chunk/footer/footer-index.scss';
