.banner-left-side {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 308px;
}

.banner-btn {
  @include btn-trans($white, $green, $white);

  padding: 11px 43px 11px 44px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.05em;
}

.banner-left-side__title {
  line-height: 48px;
  margin-bottom: 43px;
  font-weight: bold;
  font-style: bold;

  @media screen and (max-width: $mobile-420) {
    color: #444;
  }
}

.banner-left-side__desc {
  line-height: 20px;
  margin-bottom: 44px;

  @media screen and (max-width: $mobile-420) {
    max-width: 200px;
    color: #222;
  }
}
