.banner {
  height: 604px;
  background: $green;
  color: $white;

  background: url('./../img/banner.jpg') no-repeat center center;
}

.banner__wrap {
  max-width: $page_large;
  height: 100%;

  padding-top: 196px;
  margin: 0 auto;
}


