.banner {
  height: 604px;
  background: $green;
  color: $white;

  background-image: url('./../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (max-width: $desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: $mobile-420) {
    background-image: url('./../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: right -650px center;
  }
}

.banner__wrap {
  max-width: $page_large;
  height: 100%;

  padding-top: 196px;
  margin: 0 auto;

  @media screen and (max-width: $mobile-420) {
    padding-top: 20px;
  }
}
