.banner {
  height: 604px;
  background: $green;
  color: $white;

  background: url('./../img/banner.jpg') no-repeat center center;
}

.banner__wrap {
  max-width: $page_large;
  height: 100%;

  padding-top: 200px;
  margin: 0 auto;
}

.banner__wrap--left-side {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 308px;
}

.banner__wrap--left-side__btn {
  @include btn-trans($white, $green, $white);

  padding: 12px 60px 13px 60px;
}

.banner__wrap--left-side__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-style: bold;
}

.banner__wrap--left-side__desc {
  margin-bottom: 50px;
}
