.header-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  padding: 17px 0 17px;
  margin: 0 auto;

  line-height: 16px;
  letter-spacing: 0.1px;
  transition: all 0.5s;
  z-index: 150;
  &.header-menu--visible {
    top: 0;
    transition: all 0.5s;
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;

    padding: 90px 20px 20px 20px;

    position: fixed;
    top: -100%;
    left: 0;

    font-size: 20px;
    line-height: 60px;

    background: $white;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.header-menu__item {
  margin: 0 30px 0 0;
}

.header-menu__item:last-child {
  margin: 0;
}
