.header-nav {
  width: 100%;

  padding: 32px 30px;

  background: $white;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: $mobile) {
    position: fixed;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 50;

    padding-top: 120px;
    backdrop-filter: blur(10px);
    background: rgb(255 255 255 / 0.6);
  }
  &.header-nav--visible {
    left: 0;
  }
}

.header-nav__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  max-width: $page-large;

  margin: 0 auto;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav__wrapper--link {
    @media screen and (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 30px;

      font-size: 28px;
      line-height: 28px;
    }
  }
}

.header-nav__wrapper--link {
  margin-right: 40px;
  font-size: 16px;
  color: $black;
}

.header-nav__wrapper--link:last-child {
  margin-right: 0;
}
