.offer-block {
  display: flex;
  min-width: 212px;

  padding: 35px 40px;

  color: $white;

  background: $green;

  @media screen and (max-width: $mobile-420) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.offer-block__body {
  max-width: 250px;

  padding-top: 5px;
}

.offer-block__prev {
  flex-grow: 1;
  text-align: right;

  padding-right: 5px;
}

.offer-block__body--title {
  margin-bottom: 23px;

  font-size: 18px;
  font-weight: 700;
}

.offer-block__body--desc {
  margin-bottom: 25px;

  line-height: 20px;
}

.offer-block__body--link {
  display: inline-block;

  padding: 9px 29px 9px;

  @include btn-trans($white, $green, $white);
}
